#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# -------------------------------------------------------------
# Règles de réécriture d'URL
# -------------------------------------------------------------

# ROUTE DE LA PAGE CONTACT
# PATTERN : contact
# URL : index.php?contact

# RewriteRule ^categories\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*).html$ index.php?categorieID=$1 [L]
RewriteRule ^contact.html$ index.php?contact.html [L]

# ROUTES DES USERS
# ------------------------------------------------------------
  # FORMULAIRE DE LOGIN
  # PATTERN : users/login/form
  # URL : index.php?users=login/loginForm
  RewriteRule ^users\/login\/form$ index.php?users=loginForm [L]

  # CONNEXION
  # PATTERN : users/login/submit
  # URL : index.php?users=login
  RewriteRule ^users\/login\/submit$ index.php?users=loginForm [L]

# ROUTES DES CATEGORIES
# ------------------------------------------------------------

# ROUTE DU DETAIL D'UNE CATEGORIE
# PATTERN : categories/{id}/{slug}
# URL : index.php?categoriesID=xxx
# URL NewMethod : index.php?categories=show&id=x
# RewriteRule ^categories\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*).html$ index.php?categorieId=$1 [L]
  RewriteRule ^categories\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*).html$ index.php?categories=show&id=$1 [L]

# ROUTES DES POSTS
# ------------------------------------------------------------

# RECHERCHE D'UN POST
# PATTERN : posts/search    => route concrète (mise par convention avant les routes abstraites)
# URL : index.php?posts=search
# on a une variable GET qui s'appelle posts
RewriteRule ^posts\/search$ index.php?posts=search; [L]


# DETAILS D'UN POST
# PATTERN:
# FROM post/id/slug
# TO index.php?post=show&id=x
  RewriteRule ^post\/([1-9][0-9]*)\/([a-z0-9]+[a-z0-9\-]*[a-z0-9])$ index.php?post=show&id=$1 [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
